
ion-header {
  background-color: var(--ion-color-primary); /* Color del header */
}

.titulo{
  display: flex;
  text-align: center;
  align-items: center;
  font-size: x-large;
}

.home-page{
  background-image: url('../../../assets/img/background-1.jpeg');
  background-size: cover;
  background-position: center;
  filter: blur(1px);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.chats-title{
  display: flex;
  font-size: large;
}

.all-chats{
  display: flex;
  border-radius: 10px;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.chats-recurrentes{
  display: flex;
  margin: auto;
  align-items: center;
  text-align: center;
}

  .container {

    overflow: hidden; 
    white-space: nowrap;
   
    .scroll {
      overflow: auto;
    }
    ion-chip{
      --background:0000ff;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  
ion-fab-button {
    .fab { display: inline-block !important}
}

ion-card{
    background-color: transparent;;
    width: 100%;
    margin: auto;
    height: 100%;
}

.chats-text{
    flex-direction: column;
    display: flex;
    text-align: left;
    padding: 16px;
    text-transform: none;
}

.chat-recurrentes-container{
  margin: 16px 16px;
}

.chat-icon {
  width: 100px;
  height: 120px;
  position: relative;
  padding: 10px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-icon::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 30px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.chat-icon img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.chat-icon small {
    color: white;
    margin-top: 8px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    text-align: center;
}

  ion-item {
    --padding-start: 0;
    padding-bottom: 16px;
    --background: var(--ion-color-primary);
  }

  .custom-tab-bar {
    --background: var(--ion-color-primary); 
  }
  
  .tab-button{
    --color:white;
  }

