<ion-header>
  <ion-toolbar color="--ion-color-primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true">
  <div class="home-page"></div>
  <!-- Reload -->
<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
  <ion-refresher-content
    pullingIcon="chevron-down-circle-outline"

  >
  <div class="honeycomb">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  
  </ion-refresher-content>
</ion-refresher>

<div class="chat-recurrentes-container">
  <ion-card-title class="chats-title">Chats Recurrentes</ion-card-title>
  <div class="chat-icon">
    <img src="..\assets\img\user-1.PNG" alt="User Icon"> 
    <small>Jaimelito</small> 
  </div>
</div>

<!-- cards circulares -->
<ion-card  class="noSpacing niceAngles" >
  <ion-card-header class="chats-text">
    <ion-card-title>Todos tus Chats</ion-card-title>
  </ion-card-header>
  <ion-card-content class="noSpacing">
    <ion-item class="all-chats">
      <div class="chat-icon">
        <img src="..\assets\img\user-1.PNG" alt="User Icon"> 
        <small>Jaimelito</small> 
      </div>
      <ion-label>Ultimo hablado</ion-label>
    </ion-item>
    <ion-item class="all-chats">
      <div class="chat-icon">
        <img src="..\assets\img\user-1.PNG" alt="User Icon"> 
        <small>Jaimelito</small> 
      </div>
      <ion-label>Ultimo hablado</ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
</ion-content>
