<ion-content [fullscreen]="true">
  <div class="home-page"></div>
  <div class="header">
    <ion-title class="title">Bienvenido a MarketHub</ion-title>
    <p class="subTitle">Crea tu cuenta!!</p>
  </div>
  
  <form (ngSubmit)="procesar()" #formContact="ngForm">
    <div class="ion-padding">
      <ion-item class="input">
        <ion-input placeholder="name" class="input form-control" pro [(ngModel)]="reg.name" name="name" required #name="ngModel"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <div class="alert alert-danger mt-2" transparent [hidden]="name.valid || name.pristine">Por favor ingrese un Nombre</div>
      <hr>
      <ion-item>
        <ion-input placeholder="email" class="input form-control" pro [(ngModel)]="reg.email" name="email" #register="ngModel"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Numero" class="input form-control" pro [(ngModel)]="reg.num" name="numero" #register="ngModel"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Direccion" class="input form-control" pro [(ngModel)]="reg.dir" name="direccion" #register="ngModel"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="password" class="input"></ion-input>
        <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="confirme su password" [(ngModel)]="password" name="passwordInput" class="input" #repasswordInput="ngModel"></ion-input>
        <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div class="alert alert-danger mt-2" transparent [hidden]="repasswordInput.valid || repasswordInput.pristine">Por favor re-ingrese la contraseña</div>
      <hr>
      <ion-button class="button-iniciar" color="tertiary" (click)="accountcreate()" [disabled]="formContact.invalid" (click)="presentToast('top')">Registrarse</ion-button>
      <div class="iniciarsesion">
        <p><a [routerLink]="['/login']">Ya estas registrado!!?</a></p>
      </div>
    </div>
  </form>
  </ion-content>
  