<ion-content [fullscreen]="true" scroll-padding-bottom="200px">
  <div class="home-page"></div>
  <div class="header">
    <h1 style="font-size: xxx-large;">MarketHub</h1>
    <p class="subTitle">Crea tu cuenta!!</p>
  </div>
  <div class="registrarse">
    <form [formGroup]="miFormulario" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input placeholder="Nombre de Usuario" formControlName="nombre" type="text" required></ion-input>
      </ion-item>
      <div *ngIf="miFormulario.get('nombre')?.invalid && miFormulario.get('nombre')?.touched">
        <ion-text color="danger" *ngIf="miFormulario.get('nombre')?.errors?.['required']">Debe ingresar usuario</ion-text>
        <ion-text color="danger" *ngIf="miFormulario.get('nombre')?.errors?.['minlength']">El Usuario debe tener 3 caracteres o más</ion-text>
      </div>
      <ion-item>
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input placeholder="Email" formControlName="email" type="email" required></ion-input>
      </ion-item>
      <div *ngIf="miFormulario.get('email')?.invalid && miFormulario.get('email')?.touched">
        <ion-text color="danger" *ngIf="miFormulario.get('email')?.errors?.['required']">Debe Ingresar el Correo</ion-text>
        <ion-text color="danger" *ngIf="miFormulario.get('email')?.errors?.['email']">Correo inválido</ion-text>
        <ion-text color="danger" *ngIf="miFormulario.get('email')?.errors?.['invalidEmail']">El correo debe contener un formato válido </ion-text>
      </div>
      <ion-item>
        <ion-icon name="call-outline" slot="start"></ion-icon>
        <ion-input placeholder="Número" formControlName="phone" type="tel" required></ion-input>
      </ion-item>
      <div *ngIf="miFormulario.get('phone')?.invalid && miFormulario.get('phone')?.touched">
        <ion-text color="danger" *ngIf="miFormulario.get('phone')?.errors?.['required']">Debe Ingresar el Número</ion-text>
        <ion-text color="danger" *ngIf="miFormulario.get('phone')?.errors?.['invalidPhone']">El número debe contener solo dígitos</ion-text>
      </div>
      <ion-item>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input placeholder="Contraseña" [type]="showPassword ? 'text' : 'password'" formControlName="password" required></ion-input>
        <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>
      <div *ngIf="miFormulario.get('password')?.invalid && miFormulario.get('password')?.touched">
        <ion-text color="danger" *ngIf="miFormulario.get('password')?.errors?.['required']">Debe Ingresar la Contraseña</ion-text>
        <ion-text color="danger" *ngIf="miFormulario.get('password')?.errors?.['minlength']">La contraseña debe contener 6 caracteres o más</ion-text>
        <ion-text color="danger" *ngIf="miFormulario.get('password')?.errors?.['RangoContrasenia']">
          La contraseña debe contener al menos una mayúscula, una minúscula, un número y un carácter especial.
        </ion-text>
      </div>
      <ion-button class="button-registrar" expand="full" type="submit" [disabled]="miFormulario.invalid">Registrarse</ion-button>
    </form>
  </div>
  <div class="youhave-account">
    <p><a (click)="accountcreate()">Ya tienes Cuenta!?</a></p>
  </div>
</ion-content>
  