.horizontal-scroll {
    display: flex;              /* Para hacer un scroll horizontal */
    overflow-x: auto;          /* Permitir scroll horizontal */
    padding: 10px;             /* Espaciado interno */
  }
  
  .card {
    transition: transform 0.2s ease, opacity 0.2s ease; 
    cursor: pointer; 
    max-width: 160px; 
    max-height: 320px;
    display: flex;
    flex-direction: column; /* Asegura que el contenido esté en columna */
    justify-content: space-between;
  }
  
  .card strong {
    margin-bottom: 10px; /* Margen inferior para el texto */
  }
  
  .card:active {
    transform: scale(0.95); /* Escala al pulsar */
    opacity: 0.8; /* Opacidad al pulsar */
  }
  
  ion-card {
    flex: 1 1 auto; /* Flex para que ocupe el espacio */
    margin-bottom: 16px; /* Margen inferior */
    height: auto; 
    max-width: 160px; 
    display: flex;
    flex-direction: column; /* Asegura que el contenido esté en columna */
  }
  
  ion-card img {
    width: 100%; /* Imagen ocupa todo el ancho */
    height: auto;
    max-height: 150px; /* Altura máxima de la imagen */
    object-fit: cover; /* Mantiene la proporción de la imagen */
  }
  
  ion-card-title {
    font-size: 18px; /* Tamaño de la fuente del título */
    margin-top: 8px; /* Margen superior del título */
  }
  