<ion-header [fullscreen]="true">
  <ion-toolbar color="--ion-color-primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">Administrador</ion-title>
    <ion-button class="btn-search" slot="end" (click)="toggleSearchBar()">
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filtrarItems($event)" placeholder="Buscar..."></ion-searchbar>
</ion-header>

<ion-content>
  <div class="home-page"></div>
  <div class="fond-admi">
      <!-- Reload -->
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline">

      <div class="honeycomb">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

    </ion-refresher-content>
  </ion-refresher>
  
    <!-- Botones para seleccionar qué tabla mostrar -->
    <h2>Selecciona la lista</h2>
    <ion-button (click)="mostrarTablaUsuarios()">Mostrar Usuarios</ion-button>
    <ion-button (click)="mostrarTablaProductos()">Mostrar Productos</ion-button>
    <ion-button (click)="mostrarTablaReclamos()">Mostrar Reclamos</ion-button>
    <ion-button (click)="mostrarTablaCategorias()">Mostrar Categorías</ion-button>
    <ion-button (click)="mostrartablaCarrusel()">Mostrar Carrusel</ion-button>

<!-- Tabla de Usuarios -->
<div *ngIf="mostrarUsuarios">
  <h2>Lista de Usuarios</h2>
  <ion-list>
    <ion-item *ngFor="let usuario of usuariosFiltrados">
      <ion-label>
        <h2>{{ usuario.nombre }}</h2>
        <p>(ID: {{ usuario.id }})</p>
        <p>Email: {{ usuario.email }}</p>
        <p>Teléfono: {{ usuario.telefono }}</p>
      </ion-label>
      <div class="botones">
        <ion-button color="danger" (click)="abrirModalBanear(usuario)">
          {{ usuario.estado === 1 ? 'Desbanear' : 'Banear' }}
        </ion-button>
        <ion-button (click)="eliminarusuario(usuario.id!)">Eliminar</ion-button>
      </div>
    </ion-item>
  </ion-list>
</div>

<!-- Modal para Banear Usuario -->
<ion-modal [isOpen]="isBanModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Gestión de Baneo</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="cerrarModal()">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item>
        <ion-label>Razón del Baneo</ion-label>
        <ion-textarea [(ngModel)]="razonBan"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Duración (días)</ion-label>
        <ion-input type="number" [(ngModel)]="duracionBan"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="confirmarBaneo()"> confirmar</ion-button>
    </ion-content>
  </ng-template>
</ion-modal>


    <!-- Tabla de Productos -->
    <div *ngIf="mostrarProductos" class="productos-container">
      <h2>Lista de Productos</h2>
      <ion-list>
        <ion-item *ngFor="let producto of productosFiltrados" class="producto-item">
          <ion-label>
            <h2>{{ producto.nombre_producto }}</h2>
            <p>Precio: {{ producto.precio | currency }}</p>
          </ion-label>
          <div class="botones">
            <ion-button color="danger" (click)="abrirModalEliminar(producto)">Eliminar</ion-button>
            <ion-button (click)="irAVerPublicacion(producto.id)">Ir a ver Producto</ion-button>
          </div>
        </ion-item>
      </ion-list>
    </div>

    <ion-modal [isOpen]="isDeleteModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Justificar Eliminación</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="cerrarModal()">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-item>
            <ion-label>Razón</ion-label>
            <ion-textarea [(ngModel)]="razonEliminacion"></ion-textarea>
          </ion-item>
          <ion-button expand="block" color="danger" (click)="confirmarEliminacion()">Confirmar Eliminación</ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>

    <!-- Tabla de Reclamos -->
    <div *ngIf="mostrarReclamos">
      <h2>Lista de Reclamos</h2>
      <ion-list>
        <ion-item *ngFor="let reclamo of reclamosFiltrados">
          <ion-label>
            <h2>{{ reclamo.email }}</h2>
            <p>Tipo: {{ reclamo.tipoProblema }}</p>
            <p>Descripción: {{ reclamo.descripcion }}</p>
          </ion-label>
          <div class="botones">
            <ion-button color="danger" (click)="eliminarReclamo(reclamo.id)">Eliminar</ion-button>
          </div>
        </ion-item>
      </ion-list>
    </div>

    <!-- Tabla de Categorías -->
    <div *ngIf="mostrarCategorias">
      <h2>Lista de Categorías</h2>
      <!-- Formulario para agregar nueva categoría -->
      <ion-item>
        <ion-label position="floating">Nueva Categoría</ion-label>
        <ion-input [(ngModel)]="nuevaCategoria"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="agregarCategoria()">Agregar Categoría</ion-button>
    
      <!-- Lista de categorías existentes -->
      <ion-list>
        <ion-item *ngFor="let categoria of categorias">
          <ion-label>{{ categoria.nombre }}</ion-label>
          <ion-button color="danger" (click)="eliminarCategoria(categoria.id)">Eliminar</ion-button>
        </ion-item>
      </ion-list>
    </div>

          <!-- imagnes carrusel -->
<!-- Carrusel: Solo visible si mostrarCarrusel es true -->
<div *ngIf="mostrarCarrusel">
  <h2>Imágenes Carrusel</h2>

  <!-- Botón para seleccionar y guardar la imagen -->
<ion-button (click)="selectFromGallery()">Seleccionar imagen para carrusel</ion-button>
<!-- Vista previa de la imagen seleccionada -->
<div *ngIf="imagenCarrusel">
  <img [src]="imagenCarrusel" alt="Imagen del carrusel" />
</div>
<ion-button (click)="guardarImagenCarrusel()">Guardar imagen en carrusel</ion-button>

  <!-- Lista de imágenes existentes en el carrusel -->
  <ion-list>
    <ion-item *ngFor="let imagen of imagenesCarrusel">
      <img [src]="imagenCarrusel" class="image-preview" />
      <ion-label>{{ imagen.id }}</ion-label>
      <ion-button color="danger" (click)="eliminarImagen(imagen.id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
</div>

  </div>
</ion-content>
