<ion-header>
  <ion-toolbar color="--ion-color-primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true">
  <div class="home-page"></div>
  <!-- Reload -->
<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
  <ion-refresher-content
    pullingIcon="chevron-down-circle-outline"

  >
  <div class="honeycomb">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  
  </ion-refresher-content>
</ion-refresher>

<div class="container-img">
  <img *ngIf="profileImage" [src]="profileImage || 'assets/img/nouser.png'" />
</div>

  <div *ngIf="usuario" class="perfil">
    <ion-item class="input">
      <ion-icon name="person-outline"></ion-icon>
      <h3>{{usuario.nombre}}
      </h3>
    </ion-item>
    <ion-item>
      <ion-icon name="mail-outline"></ion-icon>
      <h3>{{usuario.email}}</h3>
    </ion-item>
    <ion-item>
      <ion-icon name="call"></ion-icon>
      <h3>{{usuario.telefono}}</h3>
    </ion-item>
    <div class="botones">
      <ion-button (click)="modperfil()">Modificar Perfil</ion-button>
    </div>
  </div>
  <div *ngIf="!usuario">
    <h3>No hay informacion del usuario!</h3>
  </div>
</ion-content>
