<ion-header>
  <ion-toolbar color="--ion-color-primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">
      Mis Publicaciones
    </ion-title>
    <ion-buttons slot="end" (click)="perfil()"> 
      <ion-avatar>
        <img [src]="profileImage || 'assets/img/nouser.png'" alt="imagen de perfil" (error)="profileImage = 'assets/img/nouser.png'" />
      </ion-avatar>    
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-page"></div>
  <div class="publicaciones">
    <ion-button (click)="crear()" class="btn-crear">Crear publicacion</ion-button>
    <h2>Todas tus publicaciones</h2>
    <div *ngIf="publicaciones && publicaciones.length > 0; else noPublicaciones">
      <div class="publicacion" *ngFor="let producto of publicaciones">
        <div class="publicacion-detalles">
          <img [src]="producto.imagenes[0]" alt="Imagen de publicacion" *ngIf="producto.imagenes.length > 0">
          <div class="info">
            <h3>{{ producto.nombre_producto }}</h3>
            <div class="precio-estado">
              <h4>Precio: ${{ producto.precio }}</h4>
              <h4>Estado: {{ producto.estado }}</h4>
            </div>
          </div>
        </div>
        <div class="btns">
          <ion-button color="danger" (click)="confirmarEliminacion(producto)">
            Eliminar Publicación
          </ion-button>
          <ion-button (click)="irAVerPublicacion(producto.id)">Ir a ver Publicacion</ion-button>
        </div>
      </div>
    </div>
    <ng-template #noPublicaciones>
      <h3>No tienes publicaciones aún.</h3>
    </ng-template>
  </div>
</ion-content>