<ion-header >
  <ion-toolbar color="--ion-color-primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">Notificaciones</ion-title>
    <ion-buttons slot="end" (click)="perfil()"> 
      <ion-avatar >
        <img [src]="profileImage || 'assets/img/nouser.png'" alt="imagen de perfil" (error)="profileImage = 'assets/img/nouser.png'" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-page"></div>
  <div class="seccion-news">
    <h1>Nuevas</h1>
    <div class="notificaciones" *ngFor="let notificacion of notificaciones">
      <div class="imagen-notificacion">
        <img class="avatar" [src]="notificacion.imagen" alt="User Icon"> 
        <small>{{ notificacion.nombreUsuario }}</small> 
      </div>
      <div class="text">
        Nueva notificación: {{ notificacion.nombreProducto }}
      </div>
    </div>
  </div> 
</ion-content>
