ion-header {
  background-color: var(--ion-color-primary); /* Color del header */
}

  ion-avatar{
    width: 40px;
    height: 40px;
  }

  .avatar{
    width: 40px;
    height: 40px;
  }
  
  .titulo{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: x-large;
  }

.avatar{
  width: 40px;
  height: 40px;
}

.titulo{
  display: flex;
  text-align: center;
  align-items: center;
  font-size: x-large;
}

.toolbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.toolbar-buttons {
  display: flex;
}

.toolbar-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.home-page{
  background-image: url('../../../assets/img/background-1.jpeg');
  background-size: cover;
  background-position: center;
  filter: blur(1px);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.seccion-news{
  display: flex;
  flex-direction: column;
  margin-top: auto;
  height: 100%;
}

.notificaciones{
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: var(--ion-color-primary);
}

.notificaciones .text{
  margin-left: 16px;
}

.imagen-notificacion {
  width: 100px;
  height: 120px;
  margin-right: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagen-notificacion img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.imagen-notificacion small {
  color: white;
  margin-top: 8px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  text-align: center;
}