ion-header {
  background-color: var(--ion-color-primary); /* Color del header */
}

  ion-avatar{
    width: 40px;
    height: 40px;
  }

  .avatar{
    width: 40px;
    height: 40px;
  }
  
  .titulo{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: x-large;
  }


.titulo{
  display: flex;
  text-align: center;
  align-items: center;
  font-size: x-large;
}

.toolbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.toolbar-buttons {
  display: flex;
}

.toolbar-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.home-page{
  background-image: url('../../../assets/img/background-1.jpeg');
  background-size: cover;
  background-position: center;
  filter: blur(1px);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.seccion-news{
  display: flex;
  padding: 16px;
  flex-direction: column;
  margin-top: auto;
  height: 100%;
}

.notificaciones {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  background-color: var(--ion-color-primary);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notificaciones .text{
  margin-left: 16px;
}

.imagen-notificacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 16px;
}


.imagen-notificacion img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.imagen-notificacion small {
  color: #333;
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
}

.text {
  flex-grow: 1;
  font-size: 16px;
  color: #555;
}