ion-header {
    background-color: var(--ion-color-primary); 
}

.avatar {
    margin-left: auto;
    margin-right: auto;
    height: 15%;
    width: 25%;
}

.home-page{
    background-image: url('../../../assets/img/background-1.jpeg');
    background-size: cover;
    background-position: center;
    filter: blur(1px);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}