<ion-header>
  <ion-toolbar color="--ion-color-primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">MarketHub</ion-title>
    <ion-buttons slot="end"> 
      <ion-avatar>
        <img [src]="profileImage || 'assets/img/nouser.png'" alt="imagen de perfil" (error)="profileImage = 'assets/img/nouser.png'" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="contenedor-imagen">
      <div class="imagen-container">
        <img *ngIf="producto" alt="{{ producto.nombre_producto }}" [src]="producto.imagenes[currentImageIndex]" (click)="presentImageModal(producto.imagenes[currentImageIndex])" />
      </div>
      <div class="image-navigation-buttons">
        <ion-button (click)="previousImage()" class="nav-button">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="nextImage()" class="nav-button">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </div>
      <div class="degradado-inferior">
        <ion-card-title class="titulo-imagen">{{ producto?.nombre_producto || 'Sin título' }}</ion-card-title>
      </div>
    </div>
    <ion-card-header>
      <ion-card-subtitle>Categoria: {{ producto?.categoria || 'Sin categoría' }}</ion-card-subtitle>
      <ion-card-subtitle>Precio: ${{ producto?.precio?.toLocaleString('es-CL') || '0' }} CLP</ion-card-subtitle>
      <ion-card-subtitle>Estado: {{ producto?.estado || 'Sin estado' }}</ion-card-subtitle>
      <ion-card-subtitle>Descripcion de referencia:</ion-card-subtitle>
      <p>{{ producto?.descripcion || 'Sin descripción' }}</p>
    </ion-card-header>
    <ion-card-header>
      <ion-card-title>Comentarios</ion-card-title>
    </ion-card-header>
    <ion-card-content class="scrollable-content">
      <div *ngFor="let comentario of comentarios" class="comentario"> 
        <ion-avatar slot="start">
          <img [src]="comentario.imagen || 'assets/img/nouser.png'" />
        </ion-avatar>
        <div>
          <strong>{{ comentario.nombre }}</strong>
          <p>{{ comentario.comentario }}</p>
        </div>
      </div>
      <ion-item>
        <ion-input [(ngModel)]="nuevoComentario" placeholder="Escribe tu comentario..."></ion-input>
        <ion-button (click)="publicarComentario()" [disabled]="isPublicarDisabled()">Publicar</ion-button>
      </ion-item>      
    </ion-card-content>
  </ion-card>
  <div>
    <h3>Calificaciones</h3>
    <ul>
      <li *ngFor="let rating of ratings">
        <strong>Calificación:</strong> {{ rating.score }} - <strong>Reseña:</strong> {{ rating.review }}
      </li>
    </ul>
  </div>
  <div class="rating-container">
    <h3 class="rating-title">Publica tu calificación</h3>
    
    <label for="ratingSelect" class="rating-label">Selecciona una calificación:</label>
    <select [(ngModel)]="userRating.score" id="ratingSelect" class="rating-select">
        <option *ngFor="let score of [1, 2, 3, 4, 5]" [value]="score">{{ score }}</option>
    </select>
  
    <textarea [(ngModel)]="userRating.review" id="reviewInput" class="rating-textarea" placeholder="Escribe tu reseña..."></textarea>
    
    <button (click)="submitRating()" class="rating-button">Publicar Calificación</button>
  </div>
</ion-content>
