<ion-header>
  <ion-toolbar color="--ion-color-primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">MarketHub</ion-title>
    <ion-buttons slot="end"> 
      <ion-avatar>
        <img [src]="profileImage || 'assets/img/nouser.png'" alt="imagen de perfil" (error)="profileImage = 'assets/img/nouser.png'" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="contenedor-imagen">
      <div class="imagen-container">
        <img *ngIf="producto" alt="{{ producto.nombre_producto }}" [src]="producto.imagenes[currentImageIndex]" (click)="presentImageModal(producto.imagenes[currentImageIndex])" />
      </div>
      <div class="image-navigation-buttons">
        <ion-button (click)="previousImage()" class="nav-button">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="nextImage()" class="nav-button">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </div>
      <div class="degradado-inferior">
        <ion-card-title class="titulo-imagen">{{ producto?.nombre_producto || 'Sin título' }}</ion-card-title>
      </div>
    </div>
    <ion-card-header>
      <ion-card-subtitle>Categoria: {{ producto?.categoria || 'Sin categoría' }}</ion-card-subtitle>
      <ion-card-subtitle>Precio: ${{ producto?.precio?.toLocaleString('es-CL') || '0' }} CLP</ion-card-subtitle>
      <ion-card-subtitle>Precio en USD: ${{ precioEnUSD > 0 ? precioEnUSD.toFixed(2) : '0.00' }} USD</ion-card-subtitle>
      <ion-card-subtitle>Estado: {{ producto?.estado || 'Sin estado' }}</ion-card-subtitle>
      <ion-card-subtitle>Descripcion de referencia:</ion-card-subtitle>
      <p>{{ producto?.descripcion || 'Sin descripción' }}</p>
    </ion-card-header>
    <ion-card-header>
      <ion-card-title>Comentarios</ion-card-title>
    </ion-card-header>
    <ion-card-content class="scrollable-content">
      <div *ngFor="let comentario of comentarios" class="comentario"> 
        <ion-avatar slot="start">
          <img [src]="comentario.imagen || 'assets/img/nouser.png'" />
        </ion-avatar>
        <div>
          <strong>{{ comentario.nombre }}</strong>
          <p>{{ comentario.comentario }}</p>
        </div>
      </div>
      <ion-item>
        <ion-input [(ngModel)]="nuevoComentario" placeholder="Escribe tu comentario..."></ion-input>
        <ion-button (click)="publicarComentario()" [disabled]="isPublicarDisabled()">Publicar</ion-button>
      </ion-item>      
    </ion-card-content>
  </ion-card>
  <ion-item class="calificacion-item">
    <ion-label class="calificacion-label">Calificación</ion-label>
    <ion-select [(ngModel)]="userRating.score" class="calificacion-select">
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
      <ion-select-option value="5">5</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item class="comentario-item">
    <ion-label *ngIf="!userRating.review" class="transparent-label">Comentario</ion-label>
    <ion-input [(ngModel)]="userRating.review" class="transparent-input"></ion-input>
  </ion-item>
  <ion-button (click)="submitRating()" class="publicar-btn">Publicar Calificación</ion-button>
  <ion-item class="promedio-calificacion-item">
    <ion-label class="promedio-calificacion-label">Promedio de Calificaciónes: {{ promedioCalificaciones }}</ion-label>
  </ion-item>
  <ion-item *ngFor="let rating of ratings" class="rating-display-item">
    <ion-label class="rating-display">
      <strong>Calificación:</strong> {{ rating.puntuacion }}<br>
      <strong>Comentario:</strong> {{ rating.comentario }}
    </ion-label>
  </ion-item>
</ion-content>
