<ion-header>
  <ion-toolbar color="--ion-color-primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">
      Servicio al Cliente
    </ion-title>
    <ion-buttons slot="end"> 
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-page"></div>
  
  <div class="icon-cliente">
    <img src="/../../assets/img/servicio-cliente.webp" alt="">
  </div>

  <div class="conteiner-ayuda">
    <ion-input placeholder="Tu nombre"></ion-input>
    <ion-input placeholder="Email"></ion-input>   
    <ion-input class="telefono" placeholder="Número de telefono"></ion-input>   
    <ion-textarea class="descripcion" placeholder="Descripción del problema"></ion-textarea>
  </div>
  <ion-button expand="full" type="submit">Enviar Reclamo</ion-button>

</ion-content>
