<ion-header>
  <ion-toolbar color="--ion-color-primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">
      Servicio al Cliente
    </ion-title>
    <ion-buttons slot="end" (click)="perfil()"> 
      <ion-avatar>
        <img [src]="profileImage || 'assets/img/nouser.png'" alt="imagen de perfil" (error)="profileImage = 'assets/img/nouser.png'" />
      </ion-avatar>    
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-page"></div>
  
  <div class="icon-cliente">
    <img src="/../../assets/img/servicio-cliente.webp" alt="">
  </div>

  <form (submit)="enviarReclamo()">
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="reclamo.email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Tipo de Problema</ion-label>
      <ion-select [(ngModel)]="reclamo.tipoProblema" name="tipoProblema" placeholder="Selecciona una opción" required>
        <ion-select-option value="aplicacion">Problemas con la aplicación</ion-select-option>
        <ion-select-option value="producto">Problemas con un producto</ion-select-option>
        <ion-select-option value="usuario">Problemas con otro usuario</ion-select-option>
        <ion-select-option value="otro">Otro</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción del Problema</ion-label>
      <ion-textarea [(ngModel)]="reclamo.descripcion" name="descripcion" required></ion-textarea>
    </ion-item>

    <ion-button expand="full" type="submit">Enviar Reclamo</ion-button>
  </form>

</ion-content>
