<ion-header>
  <ion-toolbar color="--ion-color-primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">
      Servicio al Cliente
    </ion-title>
    <ion-buttons slot="end" (click)="perfil()"> 
      <ion-avatar>
        <img [src]="profileImage || 'assets/img/nouser.png'" alt="imagen de perfil" (error)="profileImage = 'assets/img/nouser.png'" />
      </ion-avatar>    
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-page"></div>
  
  <div class="icon-cliente">
    <img src="/../../assets/img/servicio-cliente.webp" alt="">
  </div>

  <form [formGroup]="reclamoForm" (ngSubmit)="enviarReclamo()">
    <div class="form-section">
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="reclamoForm.get('email')?.invalid && reclamoForm.get('email')?.touched" class="error-message">
        <ion-text color="danger" *ngIf="reclamoForm.get('email')?.hasError('required')">El correo es requerido.</ion-text>
        <ion-text color="danger" *ngIf="reclamoForm.get('email')?.hasError('email')">Formato de correo no válido.</ion-text>
      </div>
    </div>
    <div class="form-section">
      <ion-item>
        <ion-label>Tipo de Problema</ion-label>
        <ion-select formControlName="tipoProblema" placeholder="Selecciona una opción">
          <ion-select-option value="aplicacion">Problemas con la aplicación</ion-select-option>
          <ion-select-option value="producto">Problemas con un producto</ion-select-option>
          <ion-select-option value="usuario">Problemas con otro usuario</ion-select-option>
          <ion-select-option value="otro">Otro</ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="reclamoForm.get('tipoProblema')?.invalid && reclamoForm.get('tipoProblema')?.touched" class="error-message">
        <ion-text color="danger">Selecciona un tipo de problema.</ion-text>
      </div>
    </div>
  
    <div class="form-section">
      <ion-item>
        <ion-label position="floating">Descripción del Problema</ion-label>
        <ion-textarea formControlName="descripcion" wrap="soft" auto-grow="false" class="descripcion-area"></ion-textarea>
      </ion-item>
      <div *ngIf="reclamoForm.get('descripcion')?.invalid && reclamoForm.get('descripcion')?.touched" class="error-message">
        <ion-text color="danger" *ngIf="reclamoForm.get('descripcion')?.hasError('required')">La descripción es requerida.</ion-text>
        <ion-text color="danger" *ngIf="reclamoForm.get('descripcion')?.hasError('maxlength')">Máximo 100 caracteres.</ion-text>
      </div>
    </div>
    <ion-button class="btn-enviar" expand="full" type="submit" [disabled]="reclamoForm.invalid">Enviar Reclamo</ion-button>
  </form>
</ion-content>
