<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notificaciones">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="agregar">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Publicar</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>