
ion-header {
    background-color: var(--ion-color-primary); 
  }

  .titulo{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: x-large;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
  }

  ion-content {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center; 
    padding: 0; 
    height: 100%; 
  }

  .home-page{
    background-image: url('../../../assets/img/background-1.jpeg');
    background-size: cover;
    background-position: center;
    filter: blur(1px);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .contenedor-general {
    padding-top: 109px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: auto;
    width: 100%; 
  }

  .editar-perfil {
    min-height: calc(100vh - 240px);
    background-color: var(--ion-color-tertiary);
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    padding: 20px; 
    width: 100%; 
    max-width: 400px; 
    flex-grow: 1;
  }

  .editar-perfil form{
    width: 100%;
    display: flex;           
    flex-direction: column;
    margin: 70px;
  }

  .editar-perfil ion-item{ 
    --background: var(--ion-color-tertiary);
    border-radius: 10px;
    margin-top: 24px;
  }
  
  
    .container {
  
      overflow: hidden; 
      white-space: nowrap;
     
      .scroll {
        overflow: auto;
      }
      ion-chip{
        --background:0000ff;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .container-img {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 20px 0;
    }
    
    ion-fab-button {
      .fab { display: inline-block !important}
    }
    ion-item {
      --padding-start: 0;
    }

    .botones {
      margin-top: auto; 
      text-align: center; 
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: auto; 
    }
  
    .custom-tab-bar {
      --background: var(--ion-color-primary); 
    }
    
    .tab-button{
      --color:white;
    }

    .avatar {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .avatar img{
      width: 150px;  
      height: 150px; 
      border-radius: 50%; 
      object-fit: cover; 
    }
