<ion-content keyboard-attach scrollY="true">
  <div class="home-img">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  <div class="header">
    <div class="logo-container">
      <ion-img src="/../../assets/img/LogoMarketHub.png" class="logo"></ion-img>
    </div>
    <h1 style="font-size: xxx-large;">MarketHub</h1>
    <p class="subTitle">Iniciar sesion</p>
  </div>
<div class="iniciarsesion">  
  <form [formGroup]="miFormulario" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input placeholder="Usuario" formControlName="nombre" type="text" [(ngModel)]="usuario"></ion-input>
    </ion-item>
    <div *ngIf="miFormulario.get('nombre')?.invalid && miFormulario.get('nombre')?.touched">
      <ion-text color="danger" *ngIf="miFormulario.get('nombre')?.errors?.['required']">Debe Ingresar el Nombre</ion-text>
      <ion-text color="danger" *ngIf="miFormulario.get('nombre')?.errors?.['minlength']">El Nombre debe tener 3 caracteres o más</ion-text>
    </div>
    <ion-item>
      <ion-input placeholder="Contraseña" [type]="showPassword  ? 'text' : 'password'" formControlName="password" required></ion-input>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
    </ion-item>
    <div *ngIf="miFormulario.get('password')?.invalid && miFormulario.get('password')?.touched">
      <ion-text color="danger" *ngIf="miFormulario.get('password')?.errors?.['required']">Debe Ingresar la contrasenia</ion-text>
      <ion-text color="danger" *ngIf="miFormulario.get('password')?.errors?.['minlength']">La contraseña debe contener 8 caracteres o más</ion-text>
    </div>
    <ion-button class="button-iniciar" expand="full" type="submit" [disabled]="miFormulario.invalid">Iniciar sesión</ion-button>
  </form>
  <div class="donothave-account">
    <p><a (click)="regses()">No tienes Cuenta!?</a></p>
  </div>
</div>
</div>
</ion-content>

