ion-header {
  background-color: var(--ion-color-primary); 
}

ion-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: 10px; /* Asegura que el contenido no se solape con el título */
  overflow-y: auto;
  margin: 0;
}

ion-avatar {
  width: 40px;
  height: 40px;
}

.home-page {
  background-image: url('../../../assets/img/background-1.jpeg');
  background-size: cover;
  background-position: center;
  filter: blur(1px);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0; 
  z-index: -1;
}

.titulo {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: x-large;
}

.container {
  overflow: hidden; 
  white-space: nowrap;
}

.scroll {
  overflow: auto;
}

ion-chip {
  --background: 0000ff;
}

.container::-webkit-scrollbar {
  display: none;
}

ion-fab-button .fab {
  display: inline-block !important;
}

ion-item {
  --padding-start: 0;
}

.custom-tab-bar {
  --background: var(--ion-color-primary); 
}

.tab-button {
  --color: white;
}

.container-add {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

form {
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%; 
  max-width: 500px; 
  background-color: #313131;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 32px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  height: 100vh; 
  z-index: 10; 
}

ion-item {
  padding-top: 12px;
  --background: #313131;
  margin-bottom: 16px;
}

.descripcion {
  flex-grow: 1;
  min-height: 100px;
  margin-bottom: 16px;
  resize: vertical;
}

ion-textarea {
  --background: #222;
  color: white;
  min-height: 100px;
}

.image-upload-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image-upload-wrapper {
  position: relative;
}

.image-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.image-upload-placeholder {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.image-upload-placeholder:hover {
  background-color: #ddd;
}

.image-upload-placeholder ion-icon {
  font-size: 24px;
  color: #555;
}

.image-upload-placeholder span {
  font-size: 12px;
  margin-top: 5px;
  color: #555;
}

input[type="file"] {
  display: none;
}
