<ion-header>
  <ion-toolbar color="--ion-color-primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title class="titulo">Agregar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true">
  <div class="home-page"></div>
  <!-- Reload -->
<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
  <ion-refresher-content
    pullingIcon="chevron-down-circle-outline"

  >
  <div class="honeycomb">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  
  </ion-refresher-content>
</ion-refresher>

<!-- cards -->
<ion-card>
  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
  <a > --> Agregar imagen del producto <-- </a>
<ion-input placeholder="     Ingrese ubicacion de la imagen" style="background-color: #192233; border-radius: 20px;"></ion-input>
  <ion-card-header>
    <ion-input label="Ingrese nombre del producto" label-placement="floating" fill="solid" placeholder="Enter text"></ion-input>

    <ion-input label="Ingrese descricion del producto" label-placement="floating" fill="solid" placeholder="Enter text" ></ion-input>

    <ion-input label="Ingrese Precio del producto" type="number" placeholder="000"></ion-input>

    <ion-button (click)="homead()">Guardar</ion-button>
  </ion-card-header>

</ion-card>
</ion-content>
