<ion-header>
  <ion-toolbar>
    <ion-title>Editar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="guardarCambios()">
    <ion-item>
      <ion-label position="stacked">Nombre del Producto</ion-label>
      <ion-input [(ngModel)]="producto.nombre_producto" name="nombre_producto" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-input [(ngModel)]="producto.descripcion" name="descripcion" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Categoría</ion-label>
      <ion-input [(ngModel)]="producto.categoria" name="categoria" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Estado</ion-label>
      <ion-input [(ngModel)]="producto.estado" name="estado" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Precio</ion-label>
      <ion-input type="number" [(ngModel)]="producto.precio" name="precio" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Guardar Cambios</ion-button>
  </form>
</ion-content>
