#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}



swiper-container {
  width: 100%;
  height: 50%;
  --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200,)
  --swiper-pagination-color: var(--ion-color-primary, #3880ff);
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-content, swiper-container, swiper-slide {
  height: 250px;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper-zoom-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px; 
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10; 
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.7); 
}

ion-header{
  background-color: rgb(209, 29, 29);
}

.titulo{
  display: flex;  
  margin-left: 0;       
  font-size: xx-large;  
  color: white;         
}

.busqueda{
  padding-top: 15px;
  --background: #ffffff; 
  --color: #000000; 
  --placeholder-color: #999999; 
}

ion-tab-bar{
  --background-color: #5D0E41;
}

ion-content {
  --background: linear-gradient(135deg, #FF204E, #A0153E, #5D0E41, #00224D);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

.custom-tab-bar {
  --background: red; 
}

.tab-button{
  --color:white;
}

.principal-productos{
  display: flex;
  justify-content: center;
}