<ion-header [fullscreen]="true">
  <ion-toolbar style="--background: var(--ion-color-tertiary);">
    <div class="toolbar-content">
      <ion-buttons slot="start" class="toolbar-buttons">
        <ion-menu-button></ion-menu-button>
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title class="titulo">
        MarketHub
      </ion-title>
    </div>
    <ion-searchbar class="busqueda"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!-- Reload -->
<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
  <ion-refresher-content
    pullingIcon="chevron-down-circle-outline"

  >
  <div class="honeycomb">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  
  </ion-refresher-content>
</ion-refresher>


<!-- Parte del carrusel -->
  <swiper-container
    #swiper
    (afternit)="swiperReady()"
    (slidechange)="swiperSlideChanged($event)"
    [loop]="true"
    [pagination]="true">

    <swiper-slide *ngFor="let image of images">
      <div class="swiper-zoom-container">
        <img [src]="image" />
      </div>
    </swiper-slide>
  </swiper-container>

  <div class="principal-productos">
    <h3>Productos recientes</h3>
  </div>

 <ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">

    <ion-tab-button tab="chat" class="tab-button">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat" class="tab-button">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>  

    <ion-tab-button tab="cart" class="tab-button">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Carrito</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

</ion-content>
