<ion-header [fullscreen]="true">
  <ion-toolbar color="--ion-color-primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">MarketHub</ion-title>
    <ion-button class="btn-search" slot="end">
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>
    <ion-buttons slot="end"> 
      <ion-avatar>
        <img *ngIf="profileImage" [src]="profileImage || 'assets/img/nouser.png'" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true">
  <div class="home-page"></div>
  <!-- Reload -->
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline"></ion-refresher-content>
  </ion-refresher>

  <!-- Administrador -->
  <div class="carousel-container">
    <div class="carousel-slide" *ngFor="let image of images; let i = index" [class.active]="i === currentIndex">
      <img [src]="image" class="slide-image" />
    </div>
    
    <ion-button class="carousel-control prev" (click)="prevSlide()">&#10094;</ion-button>
    <ion-button class="carousel-control next" (click)="nextSlide()">&#10095;</ion-button>
  </div>

  <div class="principal-productos">
    <h3>Productos recientes</h3>
  </div>

  <div class="horizontal-scroll">
    <ion-card *ngFor="let producto of productosRecientes" (click)="detalleProducto(producto)" class="card">
      <img [src]="producto.imagenes[0]" alt="{{ producto.nombre_producto }}" *ngIf="producto.imagenes.length > 0">
      <ion-card-header>
        <ion-card-title>{{producto.nombre_producto}}</ion-card-title>
        <ion-card-subtitle>{{producto.categoria}}</ion-card-subtitle>
        <strong>Precio: </strong>{{ producto.precio | currency }}
      </ion-card-header>
    </ion-card>
  </div>

  <div class="principal-productos">
    <h3>Procesadores</h3>
  </div>
  <div class="horizontal-scroll">
    <ng-container *ngIf="productosPorCategoria['Procesador'] && productosPorCategoria['Procesador'].length > 0">
      <ion-card *ngFor="let producto of productosPorCategoria['Procesador']" (click)="detalleProducto(producto)" class="card">
        <img alt="{{ producto.nombre_producto }}" [src]="producto.imagenes[0] || '/assets/img/default.jpg'">
        <ion-card-header>
          <ion-card-title>{{ producto.nombre_producto }}</ion-card-title>
          <ion-card-subtitle>{{producto.categoria}}</ion-card-subtitle>
          <strong>Precio: {{ producto.precio }}</strong>
        </ion-card-header>
      </ion-card>
    </ng-container>
    <ng-container *ngIf="!productosPorCategoria['Procesador'] || productosPorCategoria['Procesador'].length === 0">
      <p>No hay productos en esta categoría.</p>
    </ng-container>
  </div>
<div class="principal-productos">
  <h3>Memoria Ram</h3>
</div>
<div class="horizontal-scroll">
  <ng-container *ngIf="productosPorCategoria['Memoria-Ram'] && productosPorCategoria['Memoria-Ram'].length > 0">
    <ion-card *ngFor="let producto of productosPorCategoria['Memoria-Ram']" (click)="detalleProducto(producto)" class="card">
      <img alt="{{ producto.nombre_producto }}" [src]="producto.imagenes[0] || '/assets/img/default.jpg'">
      <ion-card-header>
        <ion-card-title>{{ producto.nombre_producto }}</ion-card-title>
        <ion-card-subtitle>{{ producto.categoria }}</ion-card-subtitle>
        <strong>Precio: {{ producto.precio | currency }}</strong>
      </ion-card-header>
    </ion-card>
  </ng-container>
  <ng-container *ngIf="!productosPorCategoria['Memoria-Ram'] || productosPorCategoria['Memoria-Ram'].length === 0">
    <p>No hay productos en esta categoría.</p>
  </ng-container>
</div>
<div class="principal-productos">
  <h3>Tarjetas Graficas</h3>
</div>
<div class="horizontal-scroll">
  <ng-container *ngIf="productosPorCategoria['Tarjeta-Grafica'] && productosPorCategoria['Tarjeta-Grafica'].length > 0">
    <ion-card *ngFor="let producto of productosPorCategoria['Tarjeta-Grafica']" (click)="detalleProducto(producto)" class="card">
      <img alt="{{ producto.nombre_producto }}" [src]="producto.imagenes[0] || '/assets/img/default.jpg'">
      <ion-card-header>
        <ion-card-title>{{ producto.nombre_producto }}</ion-card-title>
        <ion-card-subtitle>{{ producto.categoria }}</ion-card-subtitle>
        <strong>Precio: {{ producto.precio | currency }}</strong>
      </ion-card-header>
    </ion-card>
  </ng-container>
  <ng-container *ngIf="!productosPorCategoria['Tarjeta-Grafica'] || productosPorCategoria['Memoria-Ram'].length === 0">
    <p>No hay productos en esta categoría.</p>
  </ng-container>
</div>
<div class="principal-productos">
  <h3>Almacenamiento</h3>
</div>
<div class="horizontal-scroll">
  <ng-container *ngIf="productosPorCategoria['Almacenamiento'] && productosPorCategoria['Almacenamiento'].length > 0">
    <ion-card *ngFor="let producto of productosPorCategoria['Almacenamiento']" (click)="detalleProducto(producto)" class="card">
      <img alt="{{ producto.nombre_producto }}" [src]="producto.imagenes[0] || '/assets/img/default.jpg'">
      <ion-card-header>
        <ion-card-title>{{ producto.nombre_producto }}</ion-card-title>
        <ion-card-subtitle>{{ producto.categoria }}</ion-card-subtitle>
        <strong>Precio: {{ producto.precio | currency }}</strong>
      </ion-card-header>
    </ion-card>
  </ng-container>
  <ng-container *ngIf="!productosPorCategoria['Almacenamiento'] || productosPorCategoria['Almacenamiento'].length === 0">
    <p>No hay productos en esta categoría.</p>
  </ng-container>
</div>
</ion-content>
